.KISP.Loading-spinner {
  margin: 10px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px;
  margin-top: -54px;
  background: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 128px;
  z-index: 9999;
  height: 128px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.KISP.Loading-spinner .text {
  color: #fff;
}
.KISP.Loading-spinner .rotater {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}
.KISP.Loading-spinner .rotater .group {
  position: absolute;
  width: 100%;
  height: 100%;
}
.KISP.Loading-spinner .group-1 > div,
.KISP.Loading-spinner .group-2 > div,
.KISP.Loading-spinner .group-3 > div {
  width: 6px;
  height: 6px;
  background-color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  -moz-animation: bouncedelay 1.2s infinite ease-in-out;
  -o-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.KISP.Loading-spinner .group-2 {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.KISP.Loading-spinner .group-3 {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.KISP.Loading-spinner .item-1 {
  top: 0;
  left: 0;
}
.KISP.Loading-spinner .item-2 {
  top: 0;
  right: 0;
}
.KISP.Loading-spinner .item-3 {
  right: 0;
  bottom: 0;
}
.KISP.Loading-spinner .item-4 {
  left: 0;
  bottom: 0;
}
.KISP.Loading-spinner .group-1 .item-2 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.KISP.Loading-spinner .group-1 .item-3 {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
  -o-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.KISP.Loading-spinner .group-1 .item-4 {
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  -o-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.KISP.Loading-spinner .group-2 .item-1 {
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  -o-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.KISP.Loading-spinner .group-2 .item-2 {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  -o-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.KISP.Loading-spinner .group-2 .item-3 {
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.KISP.Loading-spinner .group-2 .item-4 {
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.KISP.Loading-spinner .group-3 .item-1 {
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
}
.KISP.Loading-spinner .group-3 .item-2 {
  -webkit-animation-delay: -0.7s;
  -moz-animation-delay: -0.7s;
  -o-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.KISP.Loading-spinner .group-3 .item-3 {
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
  -o-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.KISP.Loading-spinner .group-3 .item-4 {
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.KISP.Loading-iOS {
  position: absolute;
  color: #fff;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 102px;
  margin-left: -60px;
  margin-top: -51px;
  z-index: 1024;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /**同一行的*/
  /**无文本时*/
}
.KISP.Loading-iOS.same-line .floatingBarsG {
  margin-left: -34px;
  margin-top: -9px;
}
.KISP.Loading-iOS.same-line .text {
  margin-top: 0px;
  margin-left: 26px;
}
.KISP.Loading-iOS.no-text {
  width: 90px !important;
  height: 80px !important;
  margin-left: -45px !important;
  margin-top: -40px !important;
}
.KISP.Loading-iOS.no-text .floatingBarsG {
  margin-top: -12px;
}
.KISP.Loading-iOS.no-text .text {
  display: none;
}
.KISP.Loading-iOS .text {
  display: inline-block;
  margin-top: 45px;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
.KISP.Loading-iOS .floatingBarsG {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  margin-top: -16px;
}
.KISP.Loading-iOS .floatingBarsG .blockG {
  position: absolute;
  background-color: #675e55;
  width: 2px;
  height: 5px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-transform: scale(0.4);
  -webkit-animation-name: fadeG;
  -webkit-animation-duration: 1.1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -moz-transform: scale(0.4);
  -moz-animation-name: fadeG;
  -moz-animation-duration: 1.1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -o-transform: scale(0.4);
  -o-animation-name: fadeG;
  -o-animation-duration: 1.1s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -ms-transform: scale(0.4);
  -ms-animation-name: fadeG;
  -ms-animation-duration: 1.1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
}
.KISP.Loading-iOS .floatingBarsG .rotateG_0 {
  -webkit-animation-delay: 0.1s;
  -webkit-transform: rotate(0deg) translate(0, 0);
  -moz-animation-delay: 0.1s;
  -moz-transform: rotate(0deg) translate(0, 0);
  -o-animation-delay: 0.1s;
  -o-transform: rotate(0deg) translate(0, 0);
  -ms-animation-delay: 0.1s;
  -ms-transform: rotate(0deg) translate(0, 0);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_1 {
  -webkit-animation-delay: 0.1s;
  -webkit-transform: rotate(30deg) translate(3.5px, -1px);
  -moz-animation-delay: 0.1s;
  -moz-transform: rotate(30deg) translate(3.5px, -1px);
  -o-animation-delay: 0.1s;
  -o-transform: rotate(30deg) translate(3.5px, -1px);
  -ms-animation-delay: 0.1s;
  -ms-transform: rotate(30deg) translate(3.5px, -1px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_2 {
  -webkit-animation-delay: 0.2s;
  -webkit-transform: rotate(60deg) translate(6px, -4px);
  -moz-animation-delay: 0.2s;
  -moz-transform: rotate(60deg) translate(6px, -4px);
  -o-animation-delay: 0.2s;
  -o-transform: rotate(60deg) translate(6px, -4px);
  -ms-animation-delay: 0.2s;
  -ms-transform: rotate(60deg) translate(6px, -4px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_3 {
  -webkit-animation-delay: 0.3s;
  -webkit-transform: rotate(90deg) translate(7px, -7px);
  -moz-animation-delay: 0.3s;
  -moz-transform: rotate(90deg) translate(7px, -7px);
  -o-animation-delay: 0.3s;
  -o-transform: rotate(90deg) translate(7px, -7px);
  -ms-animation-delay: 0.3s;
  -ms-transform: rotate(90deg) translate(7px, -7px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_4 {
  -webkit-animation-delay: 0.4s;
  -webkit-transform: rotate(120deg) translate(6px, -11px);
  -moz-animation-delay: 0.4s;
  -moz-transform: rotate(120deg) translate(6px, -11px);
  -o-animation-delay: 0.4s;
  -o-transform: rotate(120deg) translate(6px, -11px);
  -ms-animation-delay: 0.4s;
  -ms-transform: rotate(120deg) translate(6px, -11px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_5 {
  -webkit-animation-delay: 0.5s;
  -webkit-transform: rotate(150deg) translate(3.5px, -13px);
  -moz-animation-delay: 0.5s;
  -moz-transform: rotate(150deg) translate(3.5px, -13px);
  -o-animation-delay: 0.5s;
  -o-transform: rotate(150deg) translate(3.5px, -13px);
  -ms-animation-delay: 0.5s;
  -ms-transform: rotate(150deg) translate(3.5px, -13px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_6 {
  -webkit-animation-delay: 0.5s;
  -webkit-transform: rotate(0deg) translate(0px, 14px);
  -moz-animation-delay: 0.5s;
  -moz-transform: rotate(0deg) translate(0px, 14px);
  -o-animation-delay: 0.5s;
  -o-transform: rotate(0deg) translate(0px, 14px);
  -ms-animation-delay: 0.5s;
  -ms-transform: rotate(0deg) translate(0px, 14px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_7 {
  -webkit-animation-delay: 0.6s;
  -webkit-transform: rotate(-150deg) translate(-3.5px, -13px);
  -moz-animation-delay: 0.6s;
  -moz-transform: rotate(-150deg) translate(-3.5px, -13px);
  -o-animation-delay: 0.6s;
  -o-transform: rotate(-150deg) translate(-3.5px, -13px);
  -ms-animation-delay: 0.6s;
  -ms-transform: rotate(-150deg) translate(-3.5px, -13px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_8 {
  -webkit-animation-delay: 0.7s;
  -webkit-transform: rotate(-120deg) translate(-6px, -11px);
  -moz-animation-delay: 0.7s;
  -moz-transform: rotate(-120deg) translate(-6px, -11px);
  -o-animation-delay: 0.7s;
  -o-transform: rotate(-120deg) translate(-6px, -11px);
  -ms-animation-delay: 0.7s;
  -ms-transform: rotate(-120deg) translate(-6px, -11px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_9 {
  -webkit-animation-delay: 0.8s;
  -webkit-transform: rotate(-90deg) translate(-7px, -7px);
  -moz-animation-delay: 0.8s;
  -moz-transform: rotate(-90deg) translate(-7px, -7px);
  -o-animation-delay: 0.8s;
  -o-transform: rotate(-90deg) translate(-7px, -7px);
  -ms-animation-delay: 0.8s;
  -ms-transform: rotate(-90deg) translate(-7px, -7px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_10 {
  -webkit-animation-delay: 0.9s;
  -webkit-transform: rotate(-60deg) translate(-6px, -4px);
  -moz-animation-delay: 0.9s;
  -moz-transform: rotate(-60deg) translate(-6px, -4px);
  -o-animation-delay: 0.9s;
  -o-transform: rotate(-60deg) translate(-6px, -4px);
  -ms-animation-delay: 0.9s;
  -ms-transform: rotate(-60deg) translate(-6px, -4px);
}
.KISP.Loading-iOS .floatingBarsG .rotateG_11 {
  -webkit-animation-delay: 1s;
  -webkit-transform: rotate(-30deg) translate(-3.5px, -1px);
  -moz-animation-delay: 1s;
  -moz-transform: rotate(-30deg) translate(-3.5px, -1px);
  -o-animation-delay: 1s;
  -o-transform: rotate(-30deg) translate(-3.5px, -1px);
  -ms-animation-delay: 1s;
  -ms-transform: rotate(-30deg) translate(-3.5px, -1px);
}
@-webkit-keyframes fadeG {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #675e55;
  }
}
@-moz-keyframes fadeG {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #675e55;
  }
}
@-o-keyframes fadeG {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #675e55;
  }
}
@-ms-keyframes fadeG {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #675e55;
  }
}
.KISP.Loading-iOS .floatingBarsG.large {
  width: 27px;
  height: 27px;
  margin-top: -24px;
}
.KISP.Loading-iOS .floatingBarsG.large .blockG {
  border-radius: 100%;
  width: 3px;
  height: 8px;
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_0 {
  -webkit-animation-delay: 0s;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  -moz-animation-delay: 0s;
  -moz-transform: rotate(0deg) translate(0px, 0px);
  -o-animation-delay: 0s;
  -o-transform: rotate(0deg) translate(0px, 0px);
  -ms-animation-delay: 0s;
  -ms-transform: rotate(0deg) translate(0px, 0px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_1 {
  -webkit-animation-delay: 0.1s;
  -webkit-transform: rotate(30deg) translate(4.8px, -1.5px);
  -moz-animation-delay: 0.1s;
  -moz-transform: rotate(30deg) translate(4.8px, -1.5px);
  -o-animation-delay: 0.1s;
  -o-transform: rotate(30deg) translate(4.8px, -1.5px);
  -ms-animation-delay: 0.1s;
  -ms-transform: rotate(30deg) translate(4.8px, -1.5px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_2 {
  -webkit-animation-delay: 0.2s;
  -webkit-transform: rotate(60deg) translate(8px, -5px);
  -moz-animation-delay: 0.2s;
  -moz-transform: rotate(60deg) translate(8px, -5px);
  -o-animation-delay: 0.2s;
  -o-transform: rotate(60deg) translate(8px, -5px);
  -ms-animation-delay: 0.2s;
  -ms-transform: rotate(60deg) translate(8px, -5px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_3 {
  -webkit-animation-delay: 0.3s;
  -webkit-transform: rotate(90deg) translate(9px, -9px);
  -moz-animation-delay: 0.3s;
  -moz-transform: rotate(90deg) translate(9px, -9px);
  -o-animation-delay: 0.3s;
  -o-transform: rotate(90deg) translate(9px, -9px);
  -ms-animation-delay: 0.3s;
  -ms-transform: rotate(90deg) translate(9px, -9px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_4 {
  -webkit-animation-delay: 0.4s;
  -webkit-transform: rotate(120deg) translate(8px, -14px);
  -moz-animation-delay: 0.4s;
  -moz-transform: rotate(120deg) translate(8px, -14px);
  -o-animation-delay: 0.4s;
  -o-transform: rotate(120deg) translate(8px, -14px);
  -ms-animation-delay: 0.4s;
  -ms-transform: rotate(120deg) translate(8px, -14px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_5 {
  -webkit-animation-delay: 0.5s;
  -webkit-transform: rotate(150deg) translate(4.5px, -17px);
  -moz-animation-delay: 0.5s;
  -moz-transform: rotate(150deg) translate(4.5px, -17px);
  -o-animation-delay: 0.5s;
  -o-transform: rotate(150deg) translate(4.5px, -17px);
  -ms-animation-delay: 0.5s;
  -ms-transform: rotate(150deg) translate(4.5px, -17px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_6 {
  -webkit-animation-delay: 0.5s;
  -webkit-transform: rotate(0deg) translate(0, 18px);
  -moz-animation-delay: 0.5s;
  -moz-transform: rotate(0deg) translate(0, 18px);
  -o-animation-delay: 0.5s;
  -o-transform: rotate(0deg) translate(0, 18px);
  -ms-animation-delay: 0.5s;
  -ms-transform: rotate(0deg) translate(0, 18px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_7 {
  -webkit-animation-delay: 0.6s;
  -webkit-transform: rotate(-150deg) translate(-4.5px, -17px);
  -moz-animation-delay: 0.6s;
  -moz-transform: rotate(-150deg) translate(-4.5px, -17px);
  -o-animation-delay: 0.6s;
  -o-transform: rotate(-150deg) translate(-4.5px, -17px);
  -ms-animation-delay: 0.6s;
  -ms-transform: rotate(-150deg) translate(-4.5px, -17px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_8 {
  -webkit-animation-delay: 0.7s;
  -webkit-transform: rotate(-120deg) translate(-8px, -14px);
  -moz-animation-delay: 0.7s;
  -moz-transform: rotate(-120deg) translate(-8px, -14px);
  -o-animation-delay: 0.7s;
  -o-transform: rotate(-120deg) translate(-8px, -14px);
  -ms-animation-delay: 0.7s;
  -ms-transform: rotate(-120deg) translate(-8px, -14px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_9 {
  -webkit-animation-delay: 0.8s;
  -webkit-transform: rotate(-90deg) translate(-9px, -9px);
  -moz-animation-delay: 0.8s;
  -moz-transform: rotate(-90deg) translate(-9px, -9px);
  -o-animation-delay: 0.8s;
  -o-transform: rotate(-90deg) translate(-9px, -9px);
  -ms-animation-delay: 0.8s;
  -ms-transform: rotate(-90deg) translate(-9px, -9px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_10 {
  -webkit-animation-delay: 0.9s;
  -webkit-transform: rotate(-60deg) translate(-8px, -5px);
  -moz-animation-delay: 0.9s;
  -moz-transform: rotate(-60deg) translate(-8px, -5px);
  -o-animation-delay: 0.9s;
  -o-transform: rotate(-60deg) translate(-8px, -5px);
  -ms-animation-delay: 0.9s;
  -ms-transform: rotate(-60deg) translate(-8px, -5px);
}
.KISP.Loading-iOS .floatingBarsG.large .rotateG_11 {
  -webkit-animation-delay: 1s;
  -webkit-transform: rotate(-30deg) translate(-4.8px, -1.5px);
  -moz-animation-delay: 1s;
  -moz-transform: rotate(-30deg) translate(-4.8px, -1.5px);
  -o-animation-delay: 1s;
  -o-transform: rotate(-30deg) translate(-4.8px, -1.5px);
  -ms-animation-delay: 1s;
  -ms-transform: rotate(-30deg) translate(-4.8px, -1.5px);
}
