
.KISP.View {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;

    .shadow() {
        box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 10px 0px 12px 10px rgba(0, 0, 0, 0.3);
    }

    .translateX(@n) {
        transform: translateX(@n);
        -ms-transform: translateX(@n);
        -moz-transform: translateX(@n);
        -webkit-transform: translateX(@n);
        -o-transform: translateX(@n);
    }

    .transition(@n) {
        transition: transform @n;
        -ms-transition: -ms-transform @n;
        -moz-transition: -moz-transform @n;
        -webkit-transition: -webkit-transform @n;
        -o-transition: -o-transform @n;
    }

    &.BeforeForward {
        .translateX(100%);
    }

    &.Forward {
        .transition(0.5s);
        .translateX(0px);
        .shadow();
    }


    &.Back {
        .transition(0.4s);
        .shadow();
    }

    &.Shadow{
        .shadow();
    }


}
